.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Actividad de aprendizaje:
            | acciones integradoras e integradas entre sí, realizadas por los aprendices con la orientación del instructor - tutor a lo largo del proceso formativo. Son objeto directo de aprendizaje, lo que indica que existe una relación directa entre lo que se debe hacer en el centro formativo y lo que más tarde se hará en el mundo laboral (SENA, 2020). 
        hr        
        p
            strong.mr-2 Aprendizaje:
            | proceso mediante el cual el aprendiz comprende, asimila, incorpora y aplica conocimientos, habilidades, destrezas y actitudes que lo hacen competente para actuar técnica, metodológica, participativa y socialmente en el trabajo (SENA, 2020).
        hr
        p 
            strong.mr-2 Aprendizaje colaborativo:
            | conjunto de métodos que se aplican en grupos pequeños de entrenamiento y desarrollo de habilidades mixtas, donde cada miembro del grupo es responsable, tanto de su aprendizaje como de los demás miembros del grupo.
        hr
        p
            strong.mr-2 Estrategia de aprendizaje:
            | combinación de métodos, medios y mediaciones didácticas, utilizadas por los instructores y aprendices para facilitar el aprendizaje y la obtención de los resultados definidos en el diseño curricular (SENA, 2020).
        hr
        p 
            strong.mr-2 Evidencia de aprendizaje:
            | manifestación del aprendizaje que se refiere a la comprobación de lo que “sabe”, “sabe hacer” y “es” el aprendiz. Pueden ser de conocimiento, de desempeño y de producto, de las cuales se pueden inferir los logros de aprendizaje y establecer el desarrollo o no de las competencias (SENA, 2020).
        hr
        p 
            strong.mr-2 Guía de aprendizaje:
            | son instrumentos o recursos de planificación del aprendizaje que facilitan el proceso de enseñanza - aprendizaje - evaluación, a través de las cuales se comunica a los aprendices los compromisos y objetivos del proceso de aprendizaje.
        hr
        p 
            strong.mr-2 Rúbrica:
            | es un conjunto de criterios y normas establecidos por los instructores, con el fin de evidenciar la calidad de los resultados u objetivos que se deben alcanzar en una actividad formativa.
        hr
        p 
            strong.mr-2 Técnica didáctica:
            | corresponde a las distintas metodologías y métodos sistematizados que pueden ser usados para el desarrollo de determinada actividad de aprendizaje. Entre ellos, se considera el estudio de caso, análisis de objeto – sistemas, análisis de servicios – procesos, simulaciones, juego de roles, socialización de conceptos (SENA, 2020).