.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td SENA. (2019). Aplicativo CompromISO. Guía de orientaciones para la formación en ambientes virtuales de aprendizaje.
                    td Documento
                    td 
                        a(href="http://compromiso.sena.edu.co/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar      
                tr
                    td SENA. (2019). Aplicativo CompromISO. Guía de orientaciones para la formación en ambientes virtuales de aprendizaje.
                    td Documento
                    td 
                        a(href="http://compromiso.sena.edu.co/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 
                tr
                    td SENA. (2011). Blog centro de comercio.
                    td Blog
                    td 
                        a(href="http://bpocentrodecomercio.blogspot.com/2011/10/estrategias-didacticas.html", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ir al sitio      
                tr
                    td Astigarraga Echeverria, E. et al. (2007). Marco conceptual y pedagógico para la implementación de la formación por proyectos en el SENA.
                    td PDF
                    td 
                        a(href="media/documentos/marco_conceptual_pedagogico.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar              