.container#tema_1

    .header-ecored
        h1 1. Lineamientos institucionales (SENA) para la formación virtual

    .jumbotron.bg-white 
      .row.justify-content-center.align-items-center.mb-5             
        .col-12.col-lg-4.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_01.svg", alt="").img-fluid
        .col-12.col-lg
          p  La formación en el SENA se ha caracterizado por su calidad, y, en la formación virtual para garantizar esa calidad, se establecen unas pautas mínimas de acción dentro de los ambientes virtuales de aprendizaje, acciones que debe cumplir el instructor virtual desde el primer día de asignación del curso, mediante la preparación de las actividades de alistamiento.
          p Todas las acciones realizadas en los ambientes virtuales de formación están enmarcadas desde lo tecnológico y metodológico. A continuación, profundizamos en las estrategias de implementación, que son fundamentales desarrollar por parte del instructor - tutor durante la ejecución del programa de formación.  

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_1
            h2 1.1 Estrategias de implementación      

      .row.justify-content-center.align-items-center.mb-3       
        .col-12.col-lg-4.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_1_01.svg", alt="", style="width: 100%").img-fluid  

        .col-12.col-lg
          h3 Etiqueta de internet o netiqueta
          p Son las normas que regulan el comportamiento, los modales y el lenguaje apropiado de los usuarios al momento de comunicarse a través de internet en sus diferentes herramientas y aplicaciones como: foros, blogs, correo electrónico, chats y redes sociales.

      .row.mb-5
        .col-12
          p A continuación, encontrará diez normas que le ayudarán a mantener una buena relación y evitar conflictos con los demás usuarios en la web.   

      .row.mb-5
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='media/infografias_animadas/infografia_1_1_01', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

      .hr-divider.mb-5

      .row.mb-4        
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Anuncios             
      .row.mb-5
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/qsswCz_Nrnw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

      .hr-divider.mb-5

      .row.mb-4        
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Foros     
      .row.mb-5
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/IVRTRxE1YPQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   
        .col-12
          p El manejo adecuado y trabajo continuo de los foros, garantiza la comunicación asincrónica continua, activa y asertiva entre y con los aprendices del curso.

      .hr-divider.mb-5

      .row.mb-4        
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Retroalimentación  

      .row.justify-content-center.align-items-center.mb-5      
        .col-12.col-lg-9.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_1_4_01.svg", alt="", style="width: 100%").img-fluid 

      .row.mb-5
        .col-12
          p #[strong La retroalimentación] a los productos entregados por el aprendiz orienta y profundiza el aprendizaje, debe ser adecuada, de calidad, proporcionar orientaciones y recomendaciones oportunas y necesarias para que el aprendiz mejore en el desarrollo de la actividad, resaltando sus puntos fuertes.
          p En consecuencia, la retroalimentación debe: 
          ul
            li.mb-3 Ser redactada en primera persona.
            li.mb-3 Realizarse en un tiempo máximo de 48 horas, en días hábiles.
            li.mb-3 Comentarios fáciles, breves, claros y comprensivos.
            li.mb-3 Comentarios constructivos y motivadores hacia el aprendizaje, para su compromiso con él mismo.
            li.mb-3 Puede ser escrita o a través de audios.
          p Estas evidencias de aprendizaje también pueden ser evaluadas a través de rúbricas, las cuales deben valorar las actividades con calidad, comprensión y dominio del resultado de aprendizaje que se pretende alcanzar. 

      .row.justify-content-center.align-items-center.mb-5       
        .col-12.col-lg-4.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_1_4_02.svg", alt="", style="width: 100%").img-fluid  

        .col-12.col-lg
          h3 Rúbrica
          p Es una herramienta de evaluación que estandariza el proceso de calificación de evidencias de aprendizaje. Esta ofrece igualdad y seguridad al aprendiz sobre los aspectos a evaluar. La rúbrica se elabora con base en los criterios de evaluación del resultado de aprendizaje y se estructura mediante una escala de valoración. 

      .hr-divider.mb-5

      .row.mb-3       
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Sesiones en línea 

      .row.mb-5
        .col-12
          p Las sesiones en línea o conferencias web en la formación virtual SENA son: 

      .row.justify-content-center.align-items-center.mb-5       
        .col-12.d-flex.justify-content-center
          img(src="assets/images/pages/tema_1/info_1_1_5_01.svg", alt="", style="width: 100%").img-fluid 
      
      .row.mb-5
        .col-12
          p Estas sesiones deben ser programadas desde el inicio de la formación a través del cronograma de actividades, indicando fecha y hora; cada sesión debe ser grabada y, posteriormente, publicada para su consulta.
          p Esta comunicación sincrónica permite la socialización temática entre los participantes de la formación y el instructor, facilitando la interacción y cercanía del grupo. 

      .row.mb-5
        .col-12
          p A continuación, se muestra cómo crear una videoconferencia en el LMS SENA.      
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/LcwvB27VFL8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

      .hr-divider.mb-5

      .row.mb-3       
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Chat 
      .row.mb-5
        .col-12          
          p Las sesiones de chat son un espacio para interactuar de forma sincrónica, aclarar dudas temáticas y/o técnicas que se le presenten al aprendiz.     
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/0glbbOEoTu4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 


    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_2
            h2 1.2 Implementación de estrategias didácticas activas aplicadas en ambientes virtuales de aprendizaje    

      .row.justify-content-center.align-items-center.mb-5
        .col-12
          p  Para entender las estrategias didácticas, partimos del concepto tomado de la dirección de investigación y desarrollo educativo de la vicerrectoría académica del Instituto Tecnológico y de Estudios Superiores de Monterrey, citado por SENA (2011), la cual describe que: 

        .col-12.my-4
          .quote
            .quote__bar
              .quote__bar__icon
                img(src="assets/images/icons/quote_01.svg", alt="")
              .quote__bar__hr
            .quote__text
              p La estrategia es un sistema de planificación aplicado a un conjunto articulado de acciones, que permite conseguir un objetivo, sirve para obtener determinados resultados. De manera que no se puede hablar de que se usan estrategias cuando no hay una meta hacia donde se orienten las acciones. A diferencia del método, la estrategia es flexible y puede tomar forma con base en las metas a donde se quiere llegar. 
            .quote__bar
              .quote__bar__hr
              .quote__bar__icon
                img(src="assets/images/icons/quote_02.svg", alt="")
          
        .col-12
          p La estrategia didáctica es una guía de acción que orienta a la obtención de uno o varios resultados de aprendizaje, dando sentido y coordinación a todo lo que se realiza para llegar a ellos. 
          p El SENA lleva a cabo su acción formativa bajo un enfoque por competencias, implementando múltiples técnicas didácticas activas. Bajo esta expresión quedan recogidas todas aquellas técnicas (e incluso métodos y estrategias didácticas) que buscan aplicar el principio de actividad en la formación, de tal modo que los aprendices se convierten en protagonistas centrales de la actividad y de su propio aprendizaje (Astigarraga et al., 2007, p. 71).
          p En el documento “Marco Conceptual y Pedagógico para la Implementación de la Formación por Proyectos en el SENA”, en su numeral 3, menciona que, las técnicas didácticas activas más utilizadas, son:
          ul.my-5
            li.mb-3 El método de proyectos.
            li.mb-3 El estudio de caso.
            li.mb-3 Los juegos de simulación.
            li.mb-3 Análisis de objetos, sistemas, servicios.
            li.mb-3 El debate.
            li.mb-3 El foro.
            li.mb-3 El panel.
            li.mb-3 La conferencia.
            li.mb-3 Las demostraciones.
            li.mb-3 El ensayo.
            li.mb-3 La entrevista.
            li.mb-3 Mesa redonda.
            li.mb-3 La ponencia.
            li.mb-3 La pregunta y el procesamiento de la respuesta.
            li.mb-3 El resumen.
            li.mb-3 El seminario.
            li.mb-3 El simposio.
            li.mb-3 Sociodrama.
          p Para profundizar en cada una de las estrategias y su implementación, se puede consultar el documento “Marco Conceptual y Pedagógico Para La Implementación de la Formación por Proyectos en el SENA”, el cual se anexa a continuación:  

      .row.justify-content-center.align-items-center.mb-5
        .col-auto
          .media_link
            a(href="media/documentos/marco_conceptual_pedagogico.pdf", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_pdf.svg", alt="")
              .media_link__txt
                p Marco Conceptual y Pedagógico Para La Implementación de la Formación por Proyectos en el SENA

      .row
        .col-12
          p La estrategia metodológica de formación por proyectos está soportada en tres premisas:

      .row.mb-3       
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p Centrar el proceso formativo en el aprendizaje del aprendiz, teniendo el instructor el papel de facilitador y guía de dicho proceso.
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p Tomar como referencia para su definición las competencias específicas y transversales definidas en la institución.
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p Impulsar el uso generalizado de técnicas didácticas activas tales como: análisis de objetos, método de proyectos, estudio de casos y juegos de simulación, que sean válidas para dar respuesta a problemas y/o necesidades del entorno, de la institución, y de los aprendices. (Astigarraga et al., 2007, p. 74).

      .row.mb-5
        .col-12
          p Cabe aclarar que, debido a las características propias de la formación virtual, las estrategias didácticas activas mencionadas son puestas en práctica de acuerdo con la pertinencia de las competencias del curso y las herramientas disponibles para su ejecución.

      
    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_3
            h2 1.3 Implementación de actividades de aprendizaje

      .row.mb-5
        .col-12
          p Las actividades de aprendizaje se planean a partir de técnicas didácticas activas con el fin de lograr la participación dinámica del aprendiz en su proceso formativo. Es a través de las actividades de aprendizaje que se promueve el aprendizaje significativo, la construcción del conocimiento y la comprensión de las temáticas propuestas. Las actividades en un curso de formación virtual juegan un papel esencial, no obstante, son diversas y específicas para abordar cada tema. Cada actividad de aprendizaje formulada, está orientada hacia el logro de los resultados de aprendizaje (RAP). 

      .row.mb-5
        .col-12
          p Estas actividades se encuentran descriptas en la #[strong guía de aprendizaje.]  

      .row.mb-5
        .col-12.col-lg-4.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_3_01.gif", alt="").img-fluid
        .col-12.col-lg
          p #[strong La guía de aprendizaje] permite contextualizar al aprendiz en la temática a trabajar, enuncia y describe las diferentes actividades de aprendizaje a desarrollar enfocadas en las diferentes técnicas activas e indica todas las evidencias a entregar, los recursos a consultar y los criterios de evaluación asociados.  
          p Las evidencias de aprendizaje son evaluadas por el instructor utilizando técnicas e instrumentos de evaluación descritos en la guía, permitiendo reconocer los logros obtenidos por el aprendiz en términos del saber, saber hacer y del ser. Las evidencias pueden ser: de conocimiento, de desempeño y de producto, según sea el criterio a evaluar y la estrategia didáctica activa a emplear. Cada programa define el número de evidencias a solicitar, de acuerdo con los criterios de evaluación relacionados en cada resultado de aprendizaje.

      .row.mb-5
        .col-12
          p Las #[strong evidencias de conocimiento] deben permitir la comprensión de los principios, teorías y maneras de utilizar y aplicar el conocimiento en situaciones cotidianas o nuevas. #[strong Las evidencias de desempeño] deben permitir obtener información sobre cómo el aprendiz ejecuta (proceso) una actividad y genera el resultado obtenido (producto); es decir, constituye el escenario propicio para poner en juego sus conocimientos, habilidades y actitudes. #[strong Las evidencias de producto] son aquellas en las que muestre un producto tangible que refleje el aprendizaje alcanzado y permite hacer inferencias sobre el proceso o método utilizado.
          p Se hace necesario programar actividades de trabajo colaborativo, con el objetivo de construir conocimiento en comunidad, además, elaborar ideas y/o apreciaciones sobre una temática específica. Algunas herramientas utilizadas para actividades de trabajo colaborativo son: blogs, documentos colaborativos y wikis.
          p Las evidencias deben incluir un enlace para su envío y estar programadas según fechas del cronograma. 
          p Además de las actividades individuales se pueden programar actividades en grupo, nombrando un líder para cada uno. Esta actividad grupal le permite valorar, además del conocimiento, el desempeño de los aprendices dentro de un equipo de trabajo. 

      .hr-divider.mb-5

      .row.mb-5
        .col-12
          p A continuación, se muestra los pasos para crear grupos en el LMS SENA y la posibilidad de asignarlos a una evidencia: 
      .row.mb-5
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/DzwHxx47YKw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 
        .col-12
          p El instructor debe verificar que las actividades planteadas en la guía de aprendizaje están orientadas a cumplir con los criterios de evaluación de los resultados de aprendizaje (RAP), de la comprensión y estructura de estas actividades depende el éxito del aprendizaje en la formación virtual.

      .hr-divider.mb-5

      .row.mb-5
        .col-12
          p Para crear evidencias en el LMS SENA, se muestra el procedimiento en el siguiente video:
      .row.mb-5
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/wREZM6msPr4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

      .hr-divider.mb-5

      .row.mb-5
        .col-12
          p De igual forma, podrá crear actividades interactivas (recurso Scorm o contenido interactivo “.zip”), que podrán ser evaluadas automáticamente por el LMS.
      .row.mb-5
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/_jRVUfNfr8Y', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 


    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_4
            h2 1.4 Implementación de estrategias para el seguimiento del aprendizaje en el LMS

      .row.mb-5
        .col-12
          p Es fundamental garantizar la participación activa del aprendiz durante todo el proceso formativo, por esto es necesario que el instructor realice un seguimiento constante a la entrega de las evidencias programadas. 
          p En el LMS se encontrarán herramientas que facilitarán recolectar información y tomar acciones de seguimiento de manera personalizada. 

      .hr-divider.mb-5

      .row.mb-5
        .col-12
          p Seguimiento, reglas y alertas: 
      .row.mb-5
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/fuEmOzQNH08', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

      .hr-divider.mb-5

      .row.mb-5
        .col-12
          p Acciones correctivas y notificaciones programadas:
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/zmglLDD76k4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 



        
            
            
            

        





      
          



